<section id="c4board">
    <div class="c4-tile c4-boardTile" id="c4-0" data-cellNumber="1"></div>
    <div class="c4-tile c4-boardTile" id="c4-1" data-cellNumber="2"></div>
    <div class="c4-tile c4-boardTile" id="c4-2" data-cellNumber="3"></div>
    <div class="c4-tile c4-boardTile" id="c4-3" data-cellNumber="4"></div>
    <div class="c4-tile c4-boardTile" id="c4-4" data-cellNumber="5"></div>
    <div class="c4-tile c4-boardTile" id="c4-5" data-cellNumber="6"></div>
    <div class="c4-tile c4-boardTile" id="c4-6" data-cellNumber="7"></div>
    <div class="c4-tile c4-boardTile" id="c4-7" data-cellNumber="8"></div>
    <div class="c4-tile c4-boardTile" id="c4-8" data-cellNumber="9"></div>
    <div class="c4-tile c4-boardTile" id="c4-9" data-cellNumber="10"></div>
    <div class="c4-tile c4-boardTile" id="c4-10" data-cellNumber="11"></div>
    <div class="c4-tile c4-boardTile" id="c4-11" data-cellNumber="12"></div>
    <div class="c4-tile c4-boardTile" id="c4-12" data-cellNumber="13"></div>
    <div class="c4-tile c4-boardTile" id="c4-13" data-cellNumber="14"></div>
    <div class="c4-tile c4-boardTile" id="c4-14" data-cellNumber="15"></div>
    <div class="c4-tile c4-boardTile" id="c4-15" data-cellNumber="16"></div>
    <div class="c4-tile c4-boardTile" id="c4-16" data-cellNumber="17"></div>
    <div class="c4-tile c4-boardTile" id="c4-17" data-cellNumber="18"></div>
    <div class="c4-tile c4-boardTile" id="c4-18" data-cellNumber="19"></div>
    <div class="c4-tile c4-boardTile" id="c4-19" data-cellNumber="20"></div>
    <div class="c4-tile c4-boardTile" id="c4-20" data-cellNumber="21"></div>
    <div class="c4-tile c4-boardTile" id="c4-21" data-cellNumber="22"></div>
    <div class="c4-tile c4-boardTile" id="c4-22" data-cellNumber="23"></div>
    <div class="c4-tile c4-boardTile" id="c4-23" data-cellNumber="24"></div>
    <div class="c4-tile c4-boardTile" id="c4-24" data-cellNumber="25"></div>
    <div class="c4-tile c4-boardTile" id="c4-25" data-cellNumber="26"></div>
    <div class="c4-tile c4-boardTile" id="c4-26" data-cellNumber="27"></div>
    <div class="c4-tile c4-boardTile" id="c4-27" data-cellNumber="28"></div>
    <div class="c4-tile c4-boardTile" id="c4-28" data-cellNumber="29"></div>
    <div class="c4-tile c4-boardTile" id="c4-29" data-cellNumber="30"></div>
    <div class="c4-tile c4-boardTile" id="c4-30" data-cellNumber="31"></div>
    <div class="c4-tile c4-boardTile" id="c4-31" data-cellNumber="32"></div>
    <div class="c4-tile c4-boardTile" id="c4-32" data-cellNumber="33"></div>
    <div class="c4-tile c4-boardTile" id="c4-33" data-cellNumber="34"></div>
    <div class="c4-tile c4-boardTile" id="c4-34" data-cellNumber="35"></div>
    <div class="c4-tile c4-boardTile" id="c4-35" data-cellNumber="36"></div>
    <div class="c4-tile c4-boardTile" id="c4-36" data-cellNumber="37"></div>
    <div class="c4-tile c4-boardTile" id="c4-37" data-cellNumber="38"></div>
    <div class="c4-tile c4-boardTile" id="c4-38" data-cellNumber="39"></div>
    <div class="c4-tile c4-boardTile" id="c4-39" data-cellNumber="40"></div>
    <div class="c4-tile c4-boardTile" id="c4-40" data-cellNumber="41"></div>
    <div class="c4-tile c4-boardTile" id="c4-41" data-cellNumber="42"></div>
</section>
<script src="js/c4.js"></script>