<section id="t3board">
    <div class="t3-tile boardTile" id="t3-1"></div>
    <div class="t3-tile boardTile" id="t3-2"></div>
    <div class="t3-tile boardTile" id="t3-3"></div>
    <div class="t3-tile boardTile" id="t3-4"></div>
    <div class="t3-tile boardTile" id="t3-5"></div>
    <div class="t3-tile boardTile" id="t3-6"></div>
    <div class="t3-tile boardTile" id="t3-7"></div>
    <div class="t3-tile boardTile" id="t3-8"></div>
    <div class="t3-tile boardTile" id="t3-9"></div>
</section>
<div id="t3Controls">
    <div id="t3Turn-indicator">
        <img src="/assets/squirrel.png" alt="Squirrel's turn" id="squirrelTurn">
        <i class="fa fa-caret-up" aria-hidden="true" id="t3upArrow"></i>
        <h4>YOUR TURN</h4>
        <i class="fa fa-caret-down inactive" aria-hidden="true" id="t3downArrow"></i>
        <img src="/assets/acorn.png" alt="Acorn's turn" id="acornTurn">
    </div>
</div>
<script src="js/tic-tac-toe.js"></script>