
<style>
    .hide {
        display: none;
    }

    .show {
        display: block;
    }
</style>
<section id="gamesContainer" class="container">
    {{#each games as |game|}}
    <p>{{game.id}}</p>
    <p>{{game.name}}</p>
    <button class="playButton" data-gameID={{game.id}} data-userID={{game.userid}}>PLAY</button>
    {{/each}}

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        function joinGame(e) {
            const data = { gameID: e.target.getAttribute('data-gameID'), userID: e.target.getAttribute('data-userID') };
            socket.emit('joinGame', data);
        }
        const playButtons = document.querySelectorAll(".playButton");
        for (let i = 0; i < playButtons.length; i++) {
            playButtons[i].addEventListener("click", joinGame);
        }
    </script>
    
    <div id="connect4Game" class="hide">
        {{>connect-four}}
    </div>
</section>


<script>
    var myPlayerId;
    const socket = io();
    function joinGame(e) {
        myPlayerId = e.target.getAttribute('data-userID');
        console.log("myPlayerId: ", myPlayerId);
        const data = { gameID: e.target.getAttribute('data-gameID'), userID: e.target.getAttribute('data-userID') };
        console.log("client join game: data ", data);
        socket.emit('joinGame', data);
    }

    const connect4GameEl = document.querySelector("#connect4Game");
    const playButtons = document.querySelectorAll(".playButton");
    for (let i = 0; i < playButtons.length; i++) {
        playButtons[i].addEventListener("click", joinGame());
    }

    socket.on('joinedGame', data => {
        console.log("joinedGame: ", data);
        if (data.players == 2) {
            connect4GameEl.classList.remove("hide");
            alert("starting game")
        } else {
            alert("waiting for another player");
        }
    });
</script>