<div class="container">
    <div class="row justify-content-center">
        <button class="col btn gamesPageBtns">Ranks</button>
        <button id="logoutButton" class="col btn gamesPageBtns">Log Out</button>
    </div>
    <div class="row">
        <a href="#" class="col gameBtns">Game 1</a>
        <a href="#" class="col gameBtns">Game 2</a>
        <aside class="friends">
            <h3 class="friends-title">Friends list</h3>
            <ul class="list" id="friends-list"></ul>
        </aside>
    </div>

</div>

<script src="/js/logout.js"></script>
