<div class="container">
    <div class="row justify-content-center">
        <button class="col btn gamesPageBtns">Ranks</button>
        <button id="logoutButton" class="col btn gamesPageBtns">Log Out</button>
    </div>
    <a href="/gamescontainer">Games Container</a>
    <div class="row">
        <section class="col game">
        </section>
        <div id="chat"></div>
    </div>
</div>

