<a href="#">Game 1</a>

<a href="#">Game 2</a>

<aside>
    <h3 class="friends-title">Friends list</h3>
    <ul class="list" id="friends-list"></ul>
</aside>

<button class="btn">Ranks</button>
<button id="logoutButton" class="btn">Log Out</button>
<div>
    <a href="/gamescontainer">Games Container</a>
</div>
<script src="/js/logout.js"></script>