<header class="header">
<a href='/games'><h1 class="title" id="gamesTitleH1">Landing Page Title</h1></a>
</header>
<div class="nav">
    <button id="ranks" class="btn gamesPageBtns">Ranks</button>
    <a href='/profile/{{user_id}}'><button id="profileBtn" class="btn gamesPageBtns">Profile</button></a>
    <button id="logoutButton" class="btn gamesPageBtns">Log Out</button>
</div>
<div class="gamesContainer">
    <a href="/gamescontainer">Games Container</a>
    <div id="chat"></div>
</div>
<script src="/js/logout.js"></script>