<header class="header" id="gamesTitle">
    <h1 class="title" id="gamesTitleH1">Landing Page Title</h1>
</header>
<div class="container">
    <div class="row justify-content-right">
        <button class="col btn gamesPageBtns" id="ranks">Ranks</button>
        <button id="logoutButton" class="col btn gamesPageBtns">Log Out</button>

    </div>
    <div class="row gameSelect">
        <a href="#" class="col gameBtns">Game 1</a>
        <a href="#" class="col gameBtns">Game 2</a>
    </div>
</div>
<aside class="friends">
    <h3 class="friends-title">Friends list</h3>
    <ul class="list" id="friends-list">
    </ul>
</aside>
<script src="/js/logout.js"></script>