<h1>Welcome {{username}}</h1>
<h2>All your info:</h2>
<form action="" id="editInfo">
    <input type="text" id="user_name" placeholder="user_name">
    <img id="image_url" src="#" alt="avatar" >
    <input type='file' />
    <button>Submit</button>
</form>
<script src="/js/profile.js"></script>
{{!-- <div class="edit" contenteditable="true">
        <img id="profileAvatar" src="#" alt="avartar" >
        <h5 id="profile-name">Name</h5>
    </div>
    <input type='file' />
    <input type = "button" class="btn btn-primary" value = "save my edits" onclick = "saveEdits ()" />
    <div id="update"> - Edit the text and click to save for next time</div>
{{#each Blogs}}
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    <button>delete</button>
    <hr>
{{/each}}

<script src="/js/profile.js"></script> --}}

{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="profile-titile">Profile</h3>
    {{!-- edit --}}
    <div class="edit" contenteditable="true">
        <img id="profileAvatar" src="#" alt="avartar" >
        <h5 id="profile-name">Name</h5>
    </div>
    <input type='file' />
    <input type = "button" class="btn btn-primary" value = "save my edits" onclick = "saveEdits ()" />
    <div id="update"> - Edit the text and click to save for next time</div>
    <script src="/js/profile.js"></script>
</body>
</html> --}}





{{!-- Edit button
<button type="button" class="btn btn-primary" data-bs-toggle="edit" data-bs-target="#editProfile">
  Edit
</button>

<!-- edit modal -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" id="edit">
          <input type="text" placeholder="newName" id="editName">
          <input type="url" placeholder="avatarImg" id="editAvatar">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit">Save!</button>
      </div>
    </div>
  </div> --}}


