<style>
    .rankBoard {
        width: 90vw;
        text-align: left;
    }
</style>
<header class="header d-flex justify-content-center" id="gamesTitle">
    <a href='/games'>
        <h1 class="title" id="gamesTitleH1">Fantasy Land</h1>
    </a>
</header>
<div class="nav">
    <a href='/profile/{{id}}'><button id="profileBtn" class="btn gamesPageBtns">Profile</button></a>
    <button id="logoutButton" class="btn gamesPageBtns">Log Out</button>
</div>
<div class="rankBoard">
    <ul>
        <h2>PLAYER: {{user_name}}</h2>
        {{#each rankings as |rankings|}}
        <h2 class="ranksPage-rank" data-game={{rankings.game_id}}>Game:</h2>
        <h2 class="ranksPage-rank">Ranking: {{rankings.rank}}</h2>
        {{/each}}
    </ul>
</div>
<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>
<script>
    const ttcEl = document.querySelector('[data-game="1"]');
    ttcEl.textContent = "Game: Tic Tac Toe";
    const c4El = document.querySelector('[data-game="2"]');
    c4El.textContent = "Game: Connect Four";
</script>