body {
    background-image: url(../assets/d5vi8b0-9925c151-97d4-4318-8a23-af91c8f561d5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Koulen', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    background-color: rgba(101, 157, 189, .3);
    margin: 40px 200px 20px 200px;
    padding: 40px 15px;
    font-family: 'Koulen', cursive;
    color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 100px #659DBD, 0 0 100px #659DBD;
    text-shadow: 0 2px 7px #8D8741;
}

header:hover{
    cursor: pointer;
}

.homebtns {
    background-color: rgb(141, 135, 65, .9);
    border: none;
    /* border: .1px solid rgba(255, 2, 2, 0.297); */
    border-radius: 50px;
    font-size: 50px;
    color: #fbeec1;
    text-shadow: 0 3px 10px black;
    margin: 50px 30px;
    padding: 70px;
    width: 300px;
    box-shadow: 0px 0px 10px var(--shadow);
    font-weight: 500;
}

.homebtns:hover {
    background-color: rgba(101, 157, 189, 0.577);
}

button:hover {
    cursor: pointer;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 150px;
}

.modal-header {
    font-size: 30px;
}

.modal-body input {
    font-size: 20px;
    padding: 0 5px;
}

#loginBtn {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

#signupBtn {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.friends {
    text-align: center;
    padding: 20px 15px;
    width: 300px;
    color: silver;
    border-radius: 10px;
    box-shadow: inset 0 0 100px black, 0 0 100px black;
    text-shadow: 0 2px 7px red;
}
.friends-title {
    font-size: 30px;
}

.gameBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(44, 44, 44);
    border: none;
    /* border: .1px solid rgba(255, 2, 2, 0.297); */
    border-radius: 5px;
    font-size: 50px;
    color: silver;
    text-shadow: 0 3px 10px black;
    margin: 50px 30px;
    padding: 70px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px var(--shadow);
    font-weight: 500;
    text-decoration: none;
}

.gameBtns:hover{
    color: white;
}

.gameBtns a:visited{
    color: silver;
}

.gamesPageBtns {
    max-width: 300px;
    text-align: center;
    background-color: rgb(56, 56, 56);
    border: .1px solid rgba(255, 2, 2, 0.297);
    border-radius: 5px;
    font-size: 20px;
    color: silver;
    text-shadow: 0 3px 10px black;
    box-shadow: 0px 0px 10px var(--shadow);
    margin: 10px;
}

.gamesPageBtns:hover{
    color:white;
}


footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}